.heading-1 {
  font-family: $font-secondary;
  font-weight: 600;
  font-size: 5rem;
  line-height: 6.8rem;
}
.heading-2 {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 3.7rem;
  line-height: 5rem;
}

.heading-4 {
  font-family: $font-secondary;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 50px;
}
.paragraph {
  font-family: $font-primary;
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 3.2rem;
}
